body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fa-custom {
  padding-right: 10px;
}

#head {
  text-align: center;
}

#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#main-table {
  width: 100%;
  margin-bottom: 10px;
}

#main-table-head {
  height: 45px;
  text-align: center;
}

#main-table-body {
  height: 400px;
}

#message-column {
  width: 70%;
  vertical-align: bottom;
}

.btn-close {
  margin-left: 10px;
}

#messages {
  width: 100%;
  height: 350px;
  border: 1px solid #e3e3e3;
  border-top: none;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

#room-column {
  width: 15%;
}

#room-list {
  width: 100%;
  height: 400px;
  overflow: auto;
}

#room-list div {
  border-bottom: 1px solid #eeeeee;
}

#room-list div:hover {
  background-color: #dddddd;
}

#user-column {
  width: 15%;
}

#user-list {
  width: 100%;
  height: 400px;
  overflow: auto;
}

#user-list div {
  border-bottom: 1px solid #eeeeee;
}

#send-div {
  padding-top: 10px;
}

#send-button {
  width: 100px;
}

#send-button i {
  padding-right: 10px;
}

.message-head {
  color: blue;
  font-style: oblique;
  font-size: 14px;
}

.message-content {
  font-size: 16px;
  padding-left: 32px;
}

.message-room {
  width: 100%;
  height: 350px;
  overflow: auto;
}